/Intermediate
/Binaries
/DerivedDataCache
/Saved/Config/CrashReportClient
/Saved/Logs
/Study.sln
Binaries
Intermediate
Developer
/Saved/Config/WindowsEditor/ObjectMixerSerializedData.ini
/Saved/Config/WorldState/614505571.json
/Saved/Config/WorldState/791889499.json
/Saved/SaveGames/PlayerQuestData.sav
/Saved/Config/LevelState
